<script setup lang="ts">
import ClientTestemonial from './components/ClientTestemonial.vue';
import FooterPictures from './components/FooterPictures.vue';
import TheFooter from './components/TheFooter.vue';
import TheHeader from './components/TheHeader.vue'
import CompanyInfo from './components/CompanyInfo.vue'
import CompanyAsset from './components/CompanyAsset.vue'
</script>

<template>
  <TheHeader/>
  <div class="container">
    <div class="row">
      <CompanyInfo class="col-sm"
        titleSection="Transform your brand"
        descriptionSection="We are a full-service creative agency specializing in helping brands go fast. Engage you clients through compelling visuals that do most of the marketing for you."
        underlineColor="#fad400"
      />
      <div class="card col-sm border border-white no-padding">
        <img class="card-img-top sharp-angles" src="../public/desktop/image-transform.jpg" alt="Card image cap">
      </div>
    </div>
    <div class="row">
      <div class="card col-sm border border-white no-padding">
        <img class="card-img-top sharp-angles" src="../public/desktop/image-stand-out.jpg" alt="Card image cap">
      </div>
      <CompanyInfo class="col-sm"
        titleSection="Stand out to the right audience"
        descriptionSection="Using a collaborative formula of designers, researchers, photographers, videographers and copywriters, we'll build and extend your brand in digital places."
        underlineColor="#fe7867"
      />
    </div>
  </div>
  <div class="card-group border border-white">
    <CompanyAsset
      titleAsset="Graphic Design"
      descriptionAsset="Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients' attention."
      textColor="#25564b"
      assetImageUrl="../public/desktop/image-graphic-design.jpg"
    />
    <CompanyAsset
      titleAsset="Photography"
      descriptionAsset="Increase your credibility by getting the most stunning, high-quality photos that improve your business image."
      textColor="#19536b"
      assetImageUrl="../public/desktop/image-photography.jpg"
    />
</div>
  <div class="clientTestimonialsTitle text-center">CLIENT TESTIMONIALS</div>
  <div class="card-group border border-white">
      <ClientTestemonial
        imageUrl="./src/assets/image-emily.jpg"
        testemony="We put our trust in Sunnyside and they delivered, making sure our needs were met and deadlines were always hit."
        name="Emily R."
        jobTitle="Marketing Director"
        />
      <ClientTestemonial
        imageUrl="./src/assets/image-thomas.jpg"
        testemony="Sunny's enthousiasm coupled with their keen interest in our brand's success made it a satisfying and enjoyable experience."
        name="Thomas S."
        jobTitle="Chief Operating Officer"
        />
      <ClientTestemonial
        imageUrl="./src/assets/image-jennie.jpg"
        testemony="Incredible end result! Our sales increased by over 400% when we worked with Sunnyside. Highly recommanded!"
        name="Jennie F."
            jobTitle="Business Owner"
        />
  </div>
  <FooterPictures/>
  <TheFooter/>
</template>

<style scoped>
.logo {
  display: block;
  margin: 0 auto 2rem;
}

@font-face {
  font-family: "Fraunces 700Bold";
  src: local("Fraunces 700Bold"),
  url("./assets/fonts/Fraunces_72pt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces 900Black";
  src: local("Fraunces 900Black"),
  url("./assets/fonts/Fraunces_144pt-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Bold";
  src: local("Barlow Bold"),
  url("./assets/fonts/Barlow-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Medium";
  src: local("Barlow Medium"),
  url("./assets/fonts/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow Light";
  src: local("Barlow Light"),
  url("./assets/fonts/Barlow-Light.ttf") format("truetype");
}

.no-padding {
  padding: 0% !important;
}

.sharp-angles {
  border-radius: 0% !important;
}

.clientTestimonialsTitle {
  font-family: "Fraunces 700Bold";
  color: hsl(210, 4%, 67%);
  padding: 5%;
  font-size: large;
}

</style>
