<script setup lang="ts">
  defineProps<{
    imageUrl: string,
    testemony: string,
    name: string,
    jobTitle: string
  }>()

</script>


<template>
<div class="card text-center bg-transparent border border-white">
  <img :src="imageUrl" class="card-img-top mx-auto d-block rounded-circle img-fluid">
  <div class="card-body">
    <p class="card-text testemony">{{ testemony }}</p>
    <div class="card-footer bg-transparent border border-white">
      <div class="name">{{ name }}</div>
      <div class="jobTitle">{{ jobTitle }}</div>
      </div>
    </div>
</div>
</template>

<style scoped>
  img {
    object-fit:contain;
  }

  .card-img-top {
    max-width: 20%;
  }
  .name{
    font-family: "Fraunces 700Bold";
    font-weight: bolder;
    font-size: large;
    color: hsl(212, 27%, 19%);
  }

  .jobTitle {
    font-family: "Barlow Light";
    color: hsl(210, 4%, 67%)
  }

  .testemony {
    font-family: "Barlow Medium";
    color: hsl(213, 9%, 39%)
  }
</style>