<script lang="ts">
    export default {
        props: ['titleSection', 'descriptionSection', 'underlineColor'],
        computed: {
            cssVars () {
                return{
                /* variables you want to pass to css */
                '--color': this.underlineColor,
                }
            }
        }
    }
</script>

<template>
    <div class="card bg-transparent border border-white company-info-card" :style="cssVars">
        <div class="card-body">
            <div class="title">{{titleSection}}</div>
            <div class="description">{{ descriptionSection }}</div>
        </div>
        <div class="card-footer bg-transparent border border-white">
            <button type="button" class="btn btn-light learn-more border border-white">Learn more</button>
        </div>
    </div>
</template>

<style>
    .company-info-card {
        padding-left: 0% !important; 
        padding-right: 0% !important;
        padding-top: 0%;
        padding-bottom: 0%;
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }

    .title {
        font-family: "Fraunces 700Bold";
        font-size: x-large;
        color: hsl(212, 27%, 19%);
    }

    .description {
        font-family: "Barlow Medium";
        color: hsl(213, 9%, 39%)
    }

    .learn-more {
        font-family: "Fraunces 700Bold" !important;
        font-size: medium !important;
        color: hsl(212, 27%, 19%) !important;
        text-decoration: underline !important;
        -webkit-text-decoration-color: var(--color); /* Safari */  
        text-decoration-color: var(--color) !important;
        background-color: transparent !important;
    }

    .learn-more:hover {
        background-color: transparent !important;
    }

</style>