<script lang="ts">
    export default {
        props: ['titleAsset', 'descriptionAsset', 'textColor', 'assetImageUrl'],
        computed: {
            cssVars () {
                return{
                /* variables you want to pass to css */
                '--color': this.textColor,
                }
            }
        }
    }
</script>

<template>
    <div class="card col-sm border border-white text-center no-margin sharp-angles" :style="cssVars">
        <img class="card-img sharp-angles no-padding" :src="assetImageUrl"  alt="Card image cap">
        <div class="card-body card-img-overlay bg-transparent border border-white relative-position sharp-angles">
            <div class="at-the-bottom">
                <div class="assetTitle ">{{ titleAsset }}</div>
                <div class="assetDescription">{{ descriptionAsset }}</div>
            </div>
        </div>
      </div>
</template>

<style>
    .assetTitle {
        font-family: "Fraunces 700Bold";
        font-size: x-large;
        color: var(--color);
    }

    .assetDescription {
        font-family: "Barlow Medium";
        color: var(--color);
    }

    .relative-position {
        position: relative;
    }

    .at-the-bottom {
        position: absolute;
        right: 10%;
        left: 10%;
        bottom: 10%;
    }

    .sharp-angles {
        border-radius: 0% !important;
    }

    .no-padding {
        padding: 0% !important;
    }

    .no-margin {
        margin: 0% !important;
    }
</style>