<template>
    <button class="btn btn-outline-light border-0 rounded-pill" type="button">About</button>
    <button class="btn btn-outline-light border-0 rounded-pill" type="button">Services</button>
    <button class="btn btn-outline-light border-0 rounded-pill" type="button">Projects</button>
    <button class="btn btn-outline-light border-0 rounded-pill" type="button">Contact</button>
</template>