<template>
    <div class="container">
    <div class="row">
        <div class="col">
            <img src="desktop/image-gallery-milkbottles.jpg"/>
        </div>
        <div class="col">
            <img src="desktop/image-gallery-orange.jpg"/>
        </div>
        <div class="col">
            <img src="desktop/image-gallery-cone.jpg"/>
        </div>
        <div class="col">
            <img src="desktop/image-gallery-sugarcubes.jpg"/>
        </div>
        </div>
    </div>
</template>

<style>
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.container {
    max-width: 100% !important;
    padding: 0% !important;
}

.col {
    padding: 0% !important;
}
</style>