<template>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle hamburger-style border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../public/icon-hamburger.svg"/>
    </button>
    <ul class="dropdown-menu border-0 text-center sharp-angles">
        <button class="btn btn-outline-light border-0 rounded-pill button-style" type="button">About</button><br>
        <button class="btn btn-outline-light border-0 rounded-pill button-style" type="button">Services</button>
        <button class="btn btn-outline-light border-0 rounded-pill button-style" type="button">Projects</button>
        <button class="btn btn-outline-light border-0 rounded-pill button-style" type="button">Contact</button>
    </ul>
</div>
</template>

<style>
    .button-style {
        color: hsl(213, 9%, 39%) !important;
        text-align: center !important;
    }

    .button-style:hover {
        background-color: yellow !important;
        color: black !important;
        font-family: "Fraunces 700Bold";
    }

    .hamburger-style {
        background-color: transparent !important;
        color: white !important;
    }

    
    .sharp-angles {
        border-radius: 0% !important;
    }
</style>

