<template>
<div class="background-color text-center">
  <div class="name">sunnyside</div>
  <div>
    <button type="button" class="btn btn-link link-color">About</button>
    <button type="button" class="btn btn-link link-color">Services</button>
    <button type="button" class="btn btn-link link-color">Projects</button>
  </div>
  <div class="logo">
    <button type="button" class="btn btn-link link-color"><img src="icon-facebook.svg"/></button>
    <button type="button" class="btn btn-link link-color"><img src="icon-instagram.svg"/></button>
    <button type="button" class="btn btn-link link-color"><img src="icon-twitter.svg"/></button>
    <button type="button" class="btn btn-link link-color"><img src="icon-pinterest.svg"/></button>
  </div>
</div>
</template>

<style>
    .background-color {
        background-color:hsl(167, 44.2%, 69.8%)
    }

    .logo {
      padding: 1%;
    }

    .name {
      font-family: "Barlow Bold";
      padding-top: 1%;
      color: hsl(167, 40%, 24%);
      font-weight: 900;
    }

    .link-color {
      font-family: "Barlow Medium" !important;
      color: hsl(167, 40%, 24%) !important;
    }
  
</style>