<script setup lang="ts">
    import DesktopNavigationBar from './DesktopNavigationBar.vue';
    import MobileNavigationBar from './MobileNavigationBar.vue';
</script>

<script lang="ts">
    export default {
        data() {
            return {
                isMobile: false
            }
        },

        computed: {
            isMobileComputed() {
                return this.isMobile
            }
        },

        mounted() {
            window.addEventListener("resize", this.resizeEvent);
            },
            unmounted() {
            window.removeEventListener("resize", this.resizeEvent);
            },
            methods: {
            resizeEvent() {
                this.isMobile = window.innerWidth <= 450
            },
        }
    }
</script>

<template>
    <div class="header">
        <img src="desktop/image-header.jpg" class="background-image"/>
        <h2 class="company-name">sunnyside</h2>
        <div class="text">
            <h1 class="titleHeader">WE ARE CREATIVES</h1>
            <img class="arrow-down" src="icon-arrow-down.svg"/>
        </div>

        <div class="group">
            <DesktopNavigationBar v-if="!isMobileComputed"/>
            <MobileNavigationBar v-else/>
        </div>
    </div>
</template>

<style>
    .header {
        position: relative;
        text-align:center;
    }

    .group {
        font-family: "Barlow Medium";
        position: absolute;
        padding: 2.5%;
        top: 0%;
        right: 0%;
    }

    .background-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .text {
        position: absolute;
        top: 40%;
        right: 20%;
        left: 20%;
        bottom: 40%;
    }

    .titleHeader {
        font-family: "Fraunces 700Bold";
        font-weight: 700;
        color: white;
    }

    .arrow-down {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

    .company-name {
        font-family: "Barlow Bold";
        position: absolute;
        color: white;
        padding: 2.5%;
        top: 0%;
        left: 0%;
    }
</style>